section#header {
    height: 10vh;
    position: relative;
    padding-bottom: 10px;
}

section#main {
    min-height: 80vh;
    position: relative;
    padding-bottom: 10px;
}

section#footer {
    height: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}

footer a{
    color: #cbd5e0;
}

.card-body {
    border: solid 8px;
    border-radius: 10px;
    font-size: x-large;
}

.btn-square {
    height: 15vh !important;
    width: 15vh !important;
    padding: 5px;
    margin: 5px;
}

textarea#name{
    min-width: 100%;
    height: 12vh !important;
    max-height: 12vh !important;
}

textarea#description {
    min-width: 100%;
    height: 25vh !important;
}

img.profile-image {
    max-height: 450px;
    max-width: 800px;
}

input::-webkit-file-upload-button {
    visibility: hidden;
}

button.X {
    background-image: url(../resourses/X.png);
    background-size: 15vh 15vh;
}

button.O {
    background-image: url(../resourses/O.png);
    background-size: 15vh 15vh;
}
