section#header {
    height: 10vh;
    position: relative;
    padding-bottom: 10px;
    display: flex;
}

section#main {
    min-height: 80vh;
    position: relative;
    padding-bottom: 10px;
    display: flex;
}

section#footer {
    height: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    display: flex;
}

a.nav-link, a.footer-link{
    font-size: 1.1vmax;
    color: #cbd5e0;
}

.btn-square {
    height: 12vmin !important;
    width: 12vmin !important;
    padding: 5px;
    margin: 5px;
}

.game-card {
    border: black 3px solid;
    border-radius: 30px;
}

textarea#name{
    min-width: 100%;
    height: 12vh !important;
    max-height: 12vh !important;
}

textarea#description {
    min-width: 100%;
    height: 25vh !important;
}

img.profile-image {
    max-height: 450px;
    max-width: 800px;
}

button.X {
    background-image: url(../resourses/X.png);
    background-size: 12vh 12vh;
}

button.O {
    background-image: url(../resourses/O.png);
    background-size: 12vh 12vh;
}

img.catalog-image {
    aspect-ratio: 1 / 1;
    object-fit: cover
}

img.game-prev {
    max-height: 15vmin;
    max-width: 15vmin;
    margin: auto;
}

div.game-prev-wrapper {
    margin: auto;
    border: solid 5px;
    color: #1e7e34;
    width: 17vmin;
    height: 17vmin;
    background-color: black;
}
